#landing-page {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}

#landing-bg {
  background-image: url("./assets/landingpageimg.avif");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#game-bg {
  /* background-image: url("./assets/background.jpg"); */
  background-image: url("./assets/table-bg.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#title {
  grid-column: 3 / span 4;
  grid-row: 1;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: whitesmoke;
}

#title span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b22222;
  width: 800px;
  height: 183px;
  border: 10px ridge white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row button {
  background-color: #b22222;
  border: 5px ridge white;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
}

#start-game:hover,
#rules:hover,
#bet:hover,
#split:hover,
#next-hand:hover {
  background-color: red;
  border-color: white;
}

#landing-buttons {
  grid-column: 3 / span 4;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 6rem;
  margin-bottom: 2rem;
}

#game-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}

#place-bets {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#bet-amount {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  font-size: 2rem;
}

#dollar-sign {
  color: whitesmoke;
}

#amount {
  width: 19rem;
  height: 3rem;
  display: flex;
  text-align: center;
}

#bet {
  background-color: #b22222;
  border: 5px ridge white;
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#quick-bets {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#quick1,
#quick2,
#quick3 {
  background-color: #8fbc8f;
  border: 2px ridge white;
  width: 5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#quick1:hover,
#quick2:hover,
#quick3:hover,
#hit:hover,
#stand:hover,
#double-down:hover {
  background-color: #5f9ea0;
}

#message-board {
  grid-column: 4 / span 4;
  grid-row: 7 / span 2;
  margin-top: 1rem;
  height: 8rem;
  width: 100%;
  background-color: lightgrey;
  border: 5px groove grey;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  color: slategrey;
  word-break: break-word;
  text-align: center;
  padding: 2rem;
}

#bet1 {
  grid-row: 6;
  grid-column: 5 / span 2;
  display: flex;
  align-self: end;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 2rem;
  border: 5px ridge gray;
  background-color: whitesmoke;
}

#bet2 {
  grid-row: 4;
  grid-column: 5 / span 2;
  display: flex;
  align-self: end;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 2rem;
  border: 5px ridge gray;
  background-color: whitesmoke;
}

#action-buttons {
  grid-column: 3 / span 6;
  grid-row: 7;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#hit,
#stand,
#double-down {
  background-color: #8fbc8f;
  border: 2px ridge white;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  margin-top: 0.25rem;
  justify-content: center;
  align-items: center;
}

#next-hand {
  background-color: #b22222;
  border: 3px ridge white;
  grid-column: 8;
  grid-row: 7 / span 2;
  height: 5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

#split {
  grid-column: 4 / span 4;
  grid-row: 8;
  background-color: #b22222;
  border: 2px ridge white;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 3rem;
  align-items: center;
}

#post-bets {
  grid-column: 1 / span 10;
  grid-row: 1 / span 8;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}

#dealer-hands {
  grid-column: 3 / span 6;
  grid-row: 1 / span 2;
  margin-top: 3rem;
  display: flex;
  justify-self: center;
  gap: 0.5rem;
}

#hand1 {
  grid-column: 3 / span 6;
  grid-row: 5 / span 2;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

/* .test {
  height: 11rem;
  width: 8.5rem;
  background-color: white;
  border: 1px solid black;
} */

#hand2 {
  grid-column: 3 / span 6;
  grid-row: 3 / span 2;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#friend-right-hand {
  grid-column: 9 / span 2;
  grid-row: 3 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 5rem;
  transform: rotate(320deg);
}

#friend-left-hand {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  margin-top: 5rem;
  transform: rotate(40deg);
}

#friend-right {
  grid-column: 10;
  grid-row: 5;
  height: 7rem;
  width: 7rem;
  align-self: end;
  justify-content: end;
  transform: rotate(330deg);
}

#friend-left {
  grid-column: 1;
  grid-row: 5;
  height: 7rem;
  width: 7rem;
  align-self: end;
  transform: rotate(40deg);
  margin-bottom: 1rem;
}

.friend-test {
  height: 8rem;
  width: 6rem;
  background-color: white;
  border: 1px solid black;
}

#friend-right-name {
  grid-column: 10;
  grid-row: 6;
  font-size: 1.5rem;
  height: 2rem;
  width: 5rem;
  border: 5px ridge gray;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(324deg);
  margin-left: 3.5rem;
}

#friend-left-name {
  grid-column: 1;
  grid-row: 6;
  font-size: 1.5rem;
  height: 2rem;
  width: 5rem;
  border: 5px ridge gray;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(39deg);
  margin-top: 0.5rem;
}
